div#container {
	width: 1200px;
	background-color: #87CEEB;
	margin: 0 auto;
}



h1, h2, h3 {
	color: #ffffff;
	font-family: arial; /*tipo de fonte*/
	font-style: italic; /*italico*/
	font-variant: small-caps; /*maisculo*/
	text-indent: 20px;
	font-size: 26px;
	text-align: center;
	letter-spacing: 4px;
	text-decoration: underline overline;
}
body {
	/*background-color: #99ccff;*/
	background-image: url("azul.jpg"); 
}
p{
	color: #ffffff;
	font-weight: bold;
	text-indent: 20px;

}

ul, ol, table, li{
	color: #ffffff;
	text-indent: 20px;

}
img {
	display: block;
	margin: 0 auto;
}
/*pseu da classe link, é quando o link não foi clicado ainda*/
a:link { /*não foi clicado ainda*/
	color: #ff9933;
	text-decoration: none;
	text-indent: 20px;
}
a:visited { /*já foi aberto*/
	color: #ff9923;
	text-decoration: none;
	text-indent: 20px;
}
a:active { /*momento que clica*/
	color: #ffff00;
	text-decoration: underline;
	background-color: #000000;
	text-indent: 20px;
}
a:hover { /*quando passa o mouse em cima*/
	color: #ffff01;
	text-decoration: underline;
	text-indent: 20px;
}
